{% extends 'accounts/inside.html' %}

{% block inside_html %}
<div id="dashboard" class="row">
	<div class="container">
		<div class="col-md-6">
		<a href="{% url 'accounts:donatemethod-create' %}">Add New Donation Method</a>
		</div>
		<div class="col-md-6">
		<ul class="list-group">
			{% for donatemethod in donatemethodlist %}
			<li class="list-group-item {% if  donatemethod.is_default %} active {% endif %}">
			<h3>Account Name: {{ donatemethod.username }}</h3>
			<p>Account Type: {{ donatemethod.account_type }}</p>
			<p>Bank Name: {{ donatemethod.bank_name }}</p>
			<p>Account No:  {{ donatemethod.account_no }}</p>
			<p>added on {{ donatemethod.created_on }} | <a href="{% url 'accounts:donatemethod-edit' donatemethod.id %}">Edit This Information</a> | <a href="{% url 'accounts:donatemethod-delete' donatemethod.id %}">Delete This Information</a></p>

			</li>
			{%  empty %}
				Nothing Here Yet
			{% endfor %}
			
			</ul>
		</div>
	</div>
</div>


{% endblock %}
