{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Invite User{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3>Invite User</h3>
                </div>
                <div class="card-body">
                    <p class="lead">Send an invitation to a new user.</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group mt-3">
                            <button type="submit" class="btn btn-primary">Send Invitation</button>
                            <a href="{% url 'accounts:invite_list' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
